/* Custom Colors */
@define-color bg #0a0a14;
@define-color bg2 #232332;
@define-color border #e67121;
@define-color fg #ffc864;
@define-color text #e6e46c;
@define-color text2 #ea2524;

#window {
    background-color: @bg;
    border-radius: 0rem;
    border: 2px solid @border;
    font-size: 1.6rem;
    font-family: monospace;
}
#input {
    color: @text;
    border: 2px solid @border;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    border-radius: 0;
    background-color: @bg;
}
#input:focus, #input:focus-visible, #input:active {
    background: linear-gradient(
        to right,
        @bg2 100%
    );
}
#scroll {
    margin-top: 3px;
    margin-bottom: 6px;
    margin-right: 5px;
    margin-left: 5px;
}
#entry {
    color: @text;
    background-color: @bg;
    padding: 0.6rem 1rem;
}
#img {
    margin-right: 1.0rem;
}
#entry:selected {
    background: linear-gradient(
        to right,
        @fg
    );
    outline: none;
}
#text:selected {
    color: black;
    font-weight: 700;
}