@import url("./colors.css");

* {
    font-family: 'UbuntuMono Nerd Font Mono Bold';
    font-size: 16px;
}

window#waybar {
    background: transparent;
    color: @text;
}

label.module {
    box-shadow: inset 0 -3px @border;
}

menu {
    background-color: @bg;
}

menu label {
    color: @text;
}

tooltip label {
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: @bg;
    color: @text;
}

label:focus {
    background-color: black;
}

#custom-apps {
    padding: 3px 10px 0px;
    font-size: 12px;
    background-color: @bg;
    border: 3px solid blue;
    color: white;
    border-radius: 15px;
}

#workspaces button {
    color: @text;
    background-color: @bg2;
    border: none;
    /* Making all buttons rounded */
    border-radius: 15px;
}

#workspaces button:hover {
    background: black;
    border: 2px solid @text;
    box-shadow: inset 0 -3px @border;
}

#workspaces button.active {
    background-color: @bg;
    border: 2px solid @strong-red;
    box-shadow: inset 0 -3px @light-red;
    border-radius: 15px;
}

#workspaces button.urgent {
    background-color: darkgreen;
}

#window {
    padding: 0 10px;
    border-radius: 10px;
    background-color: @bg1;
    border: 2px solid @border;
    box-shadow: inset 0 -3px;
}

#clock {
    padding: 0 10px;
    border-radius: 10px;
    background-color: @bg;
    border: 2px solid @border;
}

#custom-notification {
    padding: 0 5px 0px 15px;
    background-color: @bg;
    border: 2px solid @border;
    border-radius: 10px;
}

#mpris {
    padding: 0 10px;
    border-radius: 10px;
    background-color: @bg;
    color: @text1;
    border: 2px solid @border;
}

#mpris.paused {
    background-color: @bg;
    color: @text1;
}

#tray {
    padding: 0 10px;
    background-color: @bg;
    border: 2px solid @border;
    border-radius: 10px;
    box-shadow: inset 0 -3px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    border-radius: 15px;
}

#tray > .needs-attention {
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
}

#custom-gmail {
    padding: 0 10px;
    background-color: @bg;
    border: 2px solid @border;
    border-radius: 10px;
}

#wireplumber {
    padding: 0 10px 0 10px;
    background-color: @bg;
    border: 2px solid @border;
    border-radius: 10px;
    color: @green;
}

#wireplumber.source {
    color: @peach;
}

#wireplumber.muted {
    padding: 0 15px 0 10px;
    color: @strong-red;
}

#wireplumber.source.muted {
    padding: 0 17px 0 10px;
}

#power-profiles-daemon {
    padding: 0 15px 0px 10px;
    border-radius: 15px;
    border: 2px solid @border;
    background-color: @bg;
}

#power-profiles-daemon.performance {
    padding: 0 12px 0px 12px;
    font-size: 18px;
    color: red;
}

#power-profiles-daemon.balanced {
    color: blue;
}

#power-profiles-daemon.power-saver {
    color: @dark-green;
}

#bluetooth {
    color: turquoise;
    padding: 0 10px 0 10px;
    background-color: @bg;
    border: 2px solid @border;
    border-radius: 10px;
}

#bluetooth.off {
    color: gray;
}

#network {
    padding: 0 17px 0 10px;
    border-radius: 10px;
    color: @blue;
    background-color: @bg;
    border: 2px solid @border;
}

#network.disconnected {
    background-color: @strong-red;
}

#battery {
    padding: 0 15px 0px 10px;
    background-color: @bg;
    border: 2px solid @border;
    border-radius: 10px;
}

#battery.full {
    color: @dark-green;
}

#battery.low {
    color: red;
}

#battery.charging {
    color: @sky;
}