alias list='bat --color=always ~/.aliases'
alias binds='bat --color=always ~/arch-setup/config/hyprland/conf/binds.conf'
alias upd='paru -Suy --noconfirm && rustup -q update && sudo pacman -Qdtq | sudo xargs -r pacman -Rns --noconfirm'
alias get-music='yt-dlp --format bestaudio --extract-audio --audio-format mp3 --audio-quality 192K --embed-thumbnail --output "%(title)s.%(ext)s"'
alias get-video='yt-dlp -t mp4 --embed-metadata --write-subs --output "%(title)s.%(ext)s"'
alias fix-blue="pactl set-card-profile $(pactl list cards | grep 'Name: bluez' | awk '{print $2}') a2dp-sink"
alias set-ssh='ssh-add -q ~/.ssh/id_rsa'
alias maskrun='mask --maskfile README.md'

## Rust replacements
alias core-grep='/usr/bin/grep'
alias core-cat='/usr/bin/cat'
alias core-ls='/usr/bin/ls'
alias core-cd='builtin cd'
alias grep='rg --color=always'
alias cat='bat --color=always'
alias ls='exa --color=always --group-directories-first --icons'
alias cd='z'
# core uutils
alias cp='uu-cp'
alias dd='uu-dd'
alias df='uu-df'
alias mv='uu-mv'
alias rm='uu-rm'
alias pwd='uu-pwd'
alias date='uu-date'
alias echo='uu-echo'
alias head='uu-head'
alias kill='uu-kill'
alias mkdir='uu-mkdir'
alias chmod='uu-chmod'
alias chown='uu-chown'
alias touch='uu-touch'
alias whoami='uu-whoami'
alias hostname='uu-hostname'
